@page "/"

<p>
    <iframe class="iframe-style" src="https://en.wikipedia.org/wiki/Main_Page" title="Wikipedia" />
</p>

<p>
    <iframe class="iframe-style" srcdoc="<b>Html here</b>" title="Embedded Html" />
</p>

<style>
    .iframe-style {
        width: 400px;
        height: 400px;
    }
</style>